---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, HOMEPAGE_URL } from '../consts';
import Body from '../components/Body.astro';
import Content from '../components/Content.astro';
import { IoArrowForward } from 'react-icons/io5/index.js';
import Tophead from '../components/Tophead.astro';


---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header title={SITE_TITLE} />
			<main class="pt-[56px]">
				<Tophead />
				<Content>

                    <h1 class=" text-center text-orange-500 font-bold">Contact & FAQ
                    </h1>


					<section>

						<div id="accordion-flush" data-accordion="collapse" data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white" data-inactive-classes="" class="">
							<h2 id="accordion-flush-heading-1">
							  <button type="button" class="flex items-center justify-between w-full py-5 font-medium rtl:text-right  border-b border-gray-200 dark:border-orage-300 gap-3" data-accordion-target="#accordion-flush-body-1" aria-expanded="true" aria-controls="accordion-flush-body-1">
								<span>What is "the Self Preservation Society"</span>
								<svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
								  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
								</svg>
							  </button>
							</h2>
							<div id="accordion-flush-body-1" class="hidden" aria-labelledby="accordion-flush-heading-1">
							  <div class="py-5 border-b border-gray-200 dark:border-gray-700">
								<p class="mb-2">We're a dedicated team passionate about promoting holistic well-being in the digital age. Our website specializes in providing invaluable insights and resources aimed at safeguarding your health while navigating the world of computers and technology.

</p>
								<p>At the Self Preservation Society, we believe that by prioritizing self-care and adopting mindful practices, you can harness the power of technology while safeguarding your physical and mental well-being. Join us as we embark on this mission to cultivate a healthier relationship with our screens and ourselves.</p>
							  </div>
							</div>
							<h2 id="accordion-flush-heading-2">
							  <button type="button" class="flex items-center justify-between w-full py-5 font-medium rtl:text-right border-b border-gray-200 dark:border-gray-700 gap-3" data-accordion-target="#accordion-flush-body-2" aria-expanded="false" aria-controls="accordion-flush-body-2">
								<span>How can I help?</span>
								<svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
								  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
								</svg>
							  </button>
							</h2>
							<div id="accordion-flush-body-2" class="hidden" aria-labelledby="accordion-flush-heading-2">
							  <div class="py-5 border-b border-gray-200 dark:border-gray-700">
								<p class="mb-2">With over 20 years experience in providing “peer approved inclusive activities” to wide ranging partners from schools to youth justice agencies, the S.M.A.R.T. Foundation is well placed to offer consultancy and advisory assistance to all kinds of organisations seeking to help those who otherwise would just be “Kickin Off”.</p>

								<p class="mb-2">There are plenty of ways to help us contribute to our effort to promote digital accessibilty. You could become a <a href="https://www.smartfoundation.uk/what/volunteer/" class="text-blue-600 dark:text-blue-500">volunteer</a> or even a <a href="https://www.smartfoundation.uk/what/be-an-ambassador/" class="text-blue-600 dark:text-blue-500">Ambassador</a> for The S.M.A.R.T. Foundation. Just click on the role that suits you!</p>
								<p class="">Subscribe to the S.M.A.R.T. Foundation <a href="https://www.smartfoundation.uk/register/" class="text-blue-600 dark:text-blue-500 hover:underline"> here!</a> </p>
							  </div>
							</div>
							<h2 id="accordion-flush-heading-3">
							  <button type="button" class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3" data-accordion-target="#accordion-flush-body-3" aria-expanded="false" aria-controls="accordion-flush-body-3">
								<span>Contact</span>
								<svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
								  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
								</svg>
							  </button>
							</h2>
							<div id="accordion-flush-body-3" class="hidden" aria-labelledby="accordion-flush-heading-3">
							  <div class="py-5 border-b border-gray-200 dark:border-gray-700">
								<p class="mb-2" text-gray-500 dark:text-gray-400"">There are plenty of ways to help us contribute to our effort to promote digital accessibilty. You could become a <a href="https://www.smartfoundation.uk/what/volunteer/" class="text-blue-600 dark:text-blue-500">volunteer</a> or even a <a href="https://www.smartfoundation.uk/what/be-an-ambassador/" class="text-blue-600 dark:text-blue-500">Ambassador</a> for The S.M.A.R.T. Foundation. Just click on the role that suits you!</p>
								<p class="mb-2"></p>
								<ul class="ps-5">
								  <li><a href="/contact" class="text-blue-600 dark:text-blue-500 hover:underline">Contact</a></li>
								  <li><a href="/research" rel="nofollow" class="text-blue-600 dark:text-blue-500 hover:underline">Learn more</a></li>
								</ul>
							  </div>
							</div>
						  </div>
						  
					</section>

					<section>

					<section>








						
					</section>
					
					




					
		</main>
		<Footer />
	</Body>
</html>
