---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, HOMEPAGE_URL } from '../consts';
import Body from '../components/Body.astro';
import Content from '../components/Content.astro';
import { IoArrowForward } from 'react-icons/io5/index.js';
import Tophead from '../components/Tophead.astro';


---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header title={SITE_TITLE} />
			<main class="pt-[56px]">
				<Tophead />
				<Content>
				<h1 class="font-mplus text-center">Protecting Your Health While Using Computers.
				</h1>

					<section>
						<p class="mb-8 p-10">
						Welcome to our website dedicated to promoting a healthly lifestyle for individuals who use computers regularly. Our site is dedicated to providing information, tips, and resources to help you maintain health while using computers.
						<a class="inline-flex items-center gap-1 indent-1 text-orange-500" href={HOMEPAGE_URL}>Learn more about us.<IoArrowForward className="inline" />
						</a>
						</p>
					</section>

					<section>
						<h1 class="mb-3 text-xl underline">Mitigating Risks</h1>
						<p class="mb-3 italic">Balancing Contrast for Healthier Screen Exposure</p>

						<p class="mb-6">Acknowledging the hazards and risks associated with prolonged exposure to such extreme contrast levels is crucial, as it can strain vision, induce headaches, and impact overall well-being. To combat these issues, implementing ergonomic practices, such as regular breaks and adjusting screen settings to optimal contrast levels, can significantly alleviate the strain. Additionally, educating individuals about the importance of moderation in screen brightness and encouraging the use of specialized software or filters tailored to reduce excessive contrast can mitigate the adverse effects of over-exposure. Creating awareness and providing accessible tools for better screen customization are key steps in addressing presenteeism and health risks linked to overexposure to high-contrast settings.
							<a class="inline-flex items-center gap-1 indent-1 text-orange-500">Learn more
								<IoArrowForward className="inline" />
							</a>
						</p>
						
						<p class="mb-3 italic">Unlocking Productivity</p>
						<p class="mb-6">
							Presenteeism stemming from over-exposure demands a comprehensive approach. Acknowledging the repercussions of excessive exposure, where individuals are physically present but struggle due to extended screen time or overwhelming stimuli, is critical. Implementing strategies such as scheduled breaks, ergonomic adjustments, and awareness campaigns can alleviate the effects of overexposure. Encouraging a healthy balance between screen time and offline activities, along with providing tools for screen customization or specialized filters, plays a crucial role in mitigating the negative impact on productivity and well-being. Effectively addressing presenteeism linked to over-exposure necessitates a balance between digital engagement and mindful disconnection to support overall health and performance.
							<a class="inline-flex items-center gap-1 indent-1 text-orange-500">Learn more
								<IoArrowForward className="inline" />
							</a></p>

					</section>
					
					




					
		</main>
		<Footer />
	</Body>
</html>
