---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, HOMEPAGE_URL } from '../consts';
import Body from '../components/Body.astro';
import Content from '../components/Content.astro';
import { IoArrowForward } from 'react-icons/io5/index.js';
import Tophead from '../components/Tophead.astro';


---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header title={SITE_TITLE} />
			<main class="pt-[56px]">
				<Tophead />
				<Content>
				<h1 class="font-mplus text-center">Protecting Your Health While Using Computers.
				</h1>

					<section>
						<p class="mb-8 p-10">
						Welcome to our website dedicated to promoting a healthly lifestyle for individuals who use computers regularly. Our site is dedicated to providing information, tips, and resources to help you maintain health while using computers.
						<a class="inline-flex items-center gap-1 indent-1 text-orange-500" href="/contact">Contact us<IoArrowForward className="inline" />
						</a>
						</p>
					</section>

					<section>
						<h1 class="mb-3 text-xl underline">Mitigating Risks</h1>
						<p class="mb-3 italic">Balancing Contrast for Healthier Screen Exposure</p>

						<p class="mb-6">Acknowledging the hazards and risks associated with prolonged exposure to such extreme contrast levels is crucial, as it can strain vision, induce headaches, and impact overall well-being. To combat these issues, implementing ergonomic practices, such as regular breaks and adjusting screen settings to optimal contrast levels, can significantly alleviate the strain. Additionally, educating individuals about the importance of moderation in screen brightness and encouraging the use of specialized software or filters tailored to reduce excessive contrast can mitigate the adverse effects of over-exposure. Creating awareness and providing accessible tools for better screen customization are key steps in addressing presenteeism and health risks linked to overexposure to high-contrast settings.
							<a class="inline-flex items-center gap-1 indent-1 text-orange-500" href="/research">Learn more
								<IoArrowForward className="inline" />
							</a>
						</p>
						


					</section>
					
					




					
		</main>
		<Footer />
	</Body>
</html>
