---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, HOMEPAGE_URL } from '../consts';
import Body from '../components/Body.astro';
import Content from '../components/Content.astro';
import { IoArrowForward } from 'react-icons/io5/index.js';
import Tophead from '../components/Tophead.astro';
import { Image } from '@astrojs/image/components'


---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header title={SITE_TITLE} />
			<main class="pt-[56px]">
				<Tophead />
				<Content>
				<h1 class="font-mplus text-center">Protecting Your Eyesight While Using Computers.
				</h1>

					<section>
						<p class="mb-8 p-10">
						Welcome to our website dedicated to promoting eye health for individuals who use computers regularly. Our site is dedicated to providing information, tips, and resources to help you maintain healthy eyes while using computers.
						<a class="inline-flex items-center gap-1 indent-1 text-orange-500" href={HOMEPAGE_URL}>Learn more about us.<IoArrowForward className="inline" />
						</a>
						</p>
					</section>


					




					
		</main>
		<Footer />
	</Body>
</html>
