---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, HOMEPAGE_URL } from '../consts';
import Body from '../components/Body.astro';
import Content from '../components/Content.astro';
import { IoArrowForward } from 'react-icons/io5/index.js';
import Tophead from '../components/Tophead.astro';


---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header title={SITE_TITLE} />
			<main class="pt-[56px]">
				<Tophead />
				<Content>
				<h1 class="font-mplus text-center text-orange-500 font-bold">Protecting Your Health While Using Computers.
				</h1>

					<section>
						<p class="mb-8 p-10 text-center">
						Welcome to our website dedicated to promoting a healthly lifestyle for individuals who use computers regularly. Our site is dedicated to providing information, tips, and resources to help you maintain health while using computers.
						</a>
						</p>
					</section>

					<section>
						
<div class="flex">
<div class="max-w-sm bg-orange-50 border border-zinc-200 rounded-lg shadow dark:bg-zinc-900 dark:border-zinc-700">

        <img class="rounded-t-lg" src="laptop-performance.jpeg" alt="picture of research" />

    <div class="p-5">
            <h5 class="mb-2 text-2xl font-bold tracking-tight">Research</h5>

        <p class="mb-3 font-normal">Embark on a journey of discovery by clicking the button below to access our research page. </p>
        <a href="/research" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center bg-orange-400 rounded-lg hover:bg-orange-300 focus:ring-4 focus:outline-none focus:ring-zinc-300 dark:text-zinc-950 dark:bg-orange-500 dark:hover:bg-zinc-700 dark:focus:ring-zinc-800">
            Read more
             <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>
</div>


<div class="max-w-sm bg-orange-50 border border-zinc-200 rounded-lg shadow dark:bg-zinc-900 dark:border-zinc-700">

        <img class="rounded-t-lg" src="nigel-talking.jpeg" alt="" />

    <div class="p-5">

            <h5 class="mb-2 text-2xl font-bold tracking-tight">Information</h5>

        <p class="mb-3 font-normal py-2">Explore further by clicking the button below to access our information page</p>
        <a href="/information" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center bg-orange-400 rounded-lg hover:bg-orange-300 focus:ring-4 focus:outline-none focus:ring-zinc-300 dark:text-zinc-950 dark:bg-orange-500 dark:hover:bg-zinc-700 dark:focus:ring-zinc-800">
            Read more
             <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>
</div>


<div class="max-w-sm bg-orange-50 border border-zinc-200 rounded-lg shadow dark:bg-zinc-900 dark:border-zinc-700">

        <img class="rounded-t-lg" src="contact-image-page.jpeg" alt="" />

    <div class="p-5">

            <h5 class="mb-2 text-2xl font-bold tracking-tight">Contact</h5>

        <p class="mb-3 font-normal py-2">For any inquiries or to get in touch with us, simply click the button below.</p>
        <a href="/contact" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center bg-orange-400 rounded-lg hover:bg-orange-300 focus:ring-4 focus:outline-none focus:ring-zinc-300 dark:text-zinc-950 dark:bg-orange-500 dark:hover:bg-zinc-700 dark:focus:ring-zinc-800">
            Read more
             <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>
</div>
</div>



		</section>	
		</main>
		<Footer />
	</Body>
</html>
