---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, HOMEPAGE_URL } from '../consts';
import Body from '../components/Body.astro';
import Content from '../components/Content.astro';
import { IoArrowForward } from 'react-icons/io5/index.js';
import Tophead from '../components/Tophead.astro';


---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header title={SITE_TITLE} />
			<main class="pt-[56px]">
				<Tophead />
				<Content>

                    <h1 class="font-mplus text-center text-orange-500 font-bold">Information
                    </h1>

					<section>

						<div id="accordion-flush" data-accordion="collapse" data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white" data-inactive-classes="text-gray-500 dark:text-gray-400">
							<h2 id="accordion-flush-heading-1">
							  <button type="button" class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3" data-accordion-target="#accordion-flush-body-1" aria-expanded="true" aria-controls="accordion-flush-body-1">
								<span>What is "the Self Preservation Society"</span>
								<svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
								  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
								</svg>
							  </button>
							</h2>
							<div id="accordion-flush-body-1" class="hidden" aria-labelledby="accordion-flush-heading-1">
							  <div class="py-5 border-b border-gray-200 dark:border-gray-700">
								<p class="mb-2 text-gray-500 dark:text-gray-400">Test text 1</p>
								<p class="text-gray-500 dark:text-gray-400">Test text 2 <a href="/contact" class="text-blue-600 dark:text-blue-500 hover:underline">Contact</a> </p>
							  </div>
							</div>
							<h2 id="accordion-flush-heading-2">
							  <button type="button" class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3" data-accordion-target="#accordion-flush-body-2" aria-expanded="false" aria-controls="accordion-flush-body-2">
								<span>How can I help?</span>
								<svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
								  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
								</svg>
							  </button>
							</h2>
							<div id="accordion-flush-body-2" class="hidden" aria-labelledby="accordion-flush-heading-2">
							  <div class="py-5 border-b border-gray-200 dark:border-gray-700">
								<p class="mb-2 text-gray-500 dark:text-gray-400">test text 1</p>
								<p class="text-gray-500 dark:text-gray-400">test <a href="/contact" class="text-blue-600 dark:text-blue-500 hover:underline">contact</a> </p>
							  </div>
							</div>
							<h2 id="accordion-flush-heading-3">
							  <button type="button" class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3" data-accordion-target="#accordion-flush-body-3" aria-expanded="false" aria-controls="accordion-flush-body-3">
								<span>Frequently asked questions</span>
								<svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
								  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
								</svg>
							  </button>
							</h2>
							<div id="accordion-flush-body-3" class="hidden" aria-labelledby="accordion-flush-heading-3">
							  <div class="py-5 border-b border-gray-200 dark:border-gray-700">
								<p class="mb-2 text-gray-500 dark:text-gray-400">text test 1</p>
								<p class="mb-2 text-gray-500 dark:text-gray-400">text test 2</p>
								<ul class="ps-5 text-gray-500 list-disc dark:text-gray-400">
								  <li><a href="/contact" class="text-blue-600 dark:text-blue-500 hover:underline">Contact</a></li>
								  <li><a href="/research" rel="nofollow" class="text-blue-600 dark:text-blue-500 hover:underline">Learn more</a></li>
								</ul>
							  </div>
							</div>
						  </div>
						  
					</section>

					<section>

						


					</section>
					
					




					
		</main>
		<Footer />
	</Body>
</html>
