---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, HOMEPAGE_URL } from '../consts';
import Body from '../components/Body.astro';
import Content from '../components/Content.astro';
import { IoArrowForward } from 'react-icons/io5/index.js';
import Tophead from '../components/Tophead.astro';


---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header title={SITE_TITLE} />
			<main class="pt-[56px]">
				<Tophead />
				<Content>
                    <h1 class=" text-center text-orange-500 font-bold">Research
                    </h1>
					<section>
						
						<p class=" mb-8 p-10">
                            The content provided on this website is intended for informational purposes only. We want to emphasize that all information presented here is sourced from various research sites. While we strive to ensure accuracy, completeness, and reliability of the information, we cannot guarantee its validity.
						</p>
					</section>

					<section>

							<h1 class=" mb-3 text-xl underline">Mitigating Risks</h1>
							<p class=" mb-3 italic">Balancing Contrast for Healthier Screen Exposure</p>

							<p class=" mb-6">Acknowledging the hazards and risks associated with prolonged exposure to such extreme contrast levels is crucial, as it can strain vision, induce headaches, and impact overall well-being. To combat these issues, implementing ergonomic practices, such as regular breaks and adjusting screen settings to optimal contrast levels, can significantly alleviate the strain. Additionally, educating individuals about the importance of moderation in screen brightness and encouraging the use of specialized software or backgrounds tailored to reduce excessive contrast can mitigate the adverse effects of over-exposure. Creating awareness and providing accessible tools for better screen customization are key steps in addressing presenteeism and health risks linked to overexposure to high-contrast settings.
							</p>
							
							<p class=" mb-3 italic">Unlocking Productivity</p>
							<p class=" mb-6">
								Presenteeism stemming from over-exposure demands a comprehensive approach. Acknowledging the repercussions of excessive exposure, where individuals are physically present but struggle due to extended screen time or overwhelming stimuli, is critical. Implementing strategies such as scheduled breaks, ergonomic adjustments, and awareness campaigns can alleviate the effects of overexposure. Encouraging a healthy balance between screen time and offline activities, along with providing tools for screen customization or specialized backgrounds, plays a crucial role in mitigating the negative impact on productivity and well-being. Effectively addressing presenteeism linked to over-exposure necessitates a balance between digital engagement and mindful disconnection to support overall health and performance.</p>
					</section>



					<section>
						<aside class="p-4 my-8 bg-white border border-gray-200 rounded-lg shadow-md sm:p-6 lg:p-8 dark:bg-zinc-800 dark:border-gray-700" aria-label="Subscribe to the Self Preservation Newsletter">
							<h3 class="mb-3 text-xl font-medium">Get more updates...</h3>
							<p class="mb-5 text-sm font-medium">If you would like to know more about the Self Preservation Society and recommended tips on looking after your general health when using digital devices, sign up for our newsletter and you'll be among the first to find out about new research, tips, and online tools to help combat the risks.</p>
							<div id="mc_embed_shell">
								<link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
	
						  <div id="mc_embed_signup">
							  <form action="https://gmail.us18.list-manage.com/subscribe/post?u=221d7c06f94c7ced0663f4477&amp;id=550551a246&amp;f_id=004bc2e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
								  <div id="mc_embed_signup_scroll">
									  <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
									  <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""><span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span></div>
								  <div id="mce-responses" class="clear foot">
									  <div class="response" id="mce-error-response" style="display: none;"></div>
									  <div class="response" id="mce-success-response" style="display: none;"></div>
								  </div>
							  <div aria-hidden="true" style="position: absolute; left: -5000px;">
								  /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
								  <input type="text" name="b_221d7c06f94c7ced0663f4477_550551a246" tabindex="-1" value="">
							  </div>
								  <div class="optionalParent">
									  <div class="clear foot">
										  <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
										  <p style="margin: 0px auto;"><a href="http://eepurl.com/iOkKrI" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: transparent; border-radius: 4px;"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p>
									  </div>
								  </div>
							  </div>
						  </form>
						  </div>
						  <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script></div>
					</section>
					


		    </main>
		<Footer />
	</Body>
</html>
