---
const today = new Date();
---

<footer>
	Copyright &copy; {today.getFullYear()} <a href="https://www.smartfoundation.uk" class="text-orange-500">S.M.A.R.T. Foundation.</a> All rights reserved.
	<br>Created by <a href="https://www.studiokonvulsion.com" class="text-orange-500">Studio Konvulsion.</a>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
