---
import { CREATOR_URL, HOMEPAGE_URL } from "../consts";
const today = new Date();
---

<footer class="text-zinc-500">
	Copyright &copy; {today.getFullYear()} <a href={HOMEPAGE_URL} class="text-orange-500">Self Preservation.</a> All rights reserved.
	<br>Created by <a href={CREATOR_URL} class="text-orange-500">Studio Konvulsion.</a>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
