---
import HeaderLink from './HeaderLink.astro';
import { HOMEPAGE_URL } from '../consts';
import { IoHomeSharp, IoMailOpenSharp, IoInformationCircleSharp, IoBarChartSharp } from "react-icons/io5/index.js";
import ThemeToggle from './ThemeToggleButton';
---

<header class="fixed w-full pq-2 z-20 backdrop-blur-md">
	<div class="mx-auto max-w-3xl">
		<nav class="flex items-center gap-3 text-base">
			<a href="/" class="w-5 inline-block transition-transform">
				<img class="" src="/logo.png">
			</a>
			<h2 class="font-semibold tracking-tighter p-2 font-mplus text-lg">
					S.M.A.R.T. Foundation
			</h2>
			
				<div class="items-center gap-6 hidden md:flex">
					<HeaderLink href={HOMEPAGE_URL}><IoHomeSharp />Home</HeaderLink>
					<HeaderLink href="/research"><IoBarChartSharp />Research</HeaderLink>
					<HeaderLink href="/about"><IoInformationCircleSharp />About</HeaderLink>
					<HeaderLink href="/contact" target="_blank"><IoMailOpenSharp/>Contact</HeaderLink>
				</div>
				<div class="flex-1"></div>
				<ThemeToggle client:load/>
		</nav>
	</div>
</header>

