---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="fixed w-full pq2 z-20 backdrop-blur-md">
	<div class="mx-auto max-w-3xl">
		<h2>
			{SITE_TITLE}
		</h2>
		<nav>
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/research">Research</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
			<HeaderLink href="/" target="_blank">Contact</HeaderLink>
		</nav>
	</div>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
